form {
  width: 100%;
  height: 70vh;
  background: #fafafa;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
}

.bola-8-container {
  width: 28%;
  height: 60%;
  background: radial-gradient(circle at 8em 8em, #333, #000);
  border-radius: 50%;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.6), inset 0 0 4em rgba(255, 255, 255, 0.15);
  position: relative;
  margin: 0 auto 2em auto; 
}

.respuesta-ventana {
  width: 45%;
  height: 20%;
  background-color: #00008b;
  position: absolute;
  top: 35%;
  left: 28%;
  border-radius: 1em; 
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.9);
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.respuesta-texto {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding: 0.75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
}

.mostrar-respuesta .respuesta-texto {
  opacity: 1;
}

#pregunta {
  padding: 0.8em;
  width: 50%;
  border: 0.125em solid #ccc;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: center;
  margin-top: 2em; 
}