* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #333;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  height: 4em;
  position: relative;
  overflow: hidden;
}

header img {
  height: 70%;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  border-radius: 1em;
}

header nav {
  margin-left: 13em;
  height: 100%;
  line-height: 4em;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  margin: 0 1em;
  cursor: pointer;
  transition: color 0.3s ease;
  vertical-align: middle;
}

header nav li a {
  text-decoration: none;
  font-weight: bold;
  color: #ddd;
}

header nav li a:hover {
  color: #ffcc00;
}

main {
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 0.5em;
}

main aside {
  width: 10%;
  float: left;
  background-color: #e0e0e0;
  border-radius: 0.5em;
  margin: 1em 0;
}

main section {
  width: 80%;
  height: 85vh;
  float: left;
  text-align: center;
  padding: 3em 0;
}

form {
  width: 100%;
  height: 50vh;
  background: #fafafa;
  border-radius: 2em;
  padding: 2em;
  display: inline-block;
}

#colorHex {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em;
  color: black;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  background-color: white;
  color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  color: white;
}

footer {
  width: 100%;
  background-color: #222;
  color: #bbb;
  text-align: center;
  padding: 2em 1em;
  margin-top: auto;
}

.footer-content {
  margin: 0 auto;
}

footer p {
  margin: 1% 0;
}

footer a {
  color: #007bff;
  text-decoration: none;
  margin: 0 1%;
}

.social-links {
  margin: 2% 0;
}

.social-links a img {
  width: 2%;
  height: auto;
  object-fit: contain;
  border-radius: 70%;
}